[Unit]
Description=Fably
After=network.target seeed-voicecard.service
Wants=seeed-voicecard.service

[Service]
Type=simple
ExecStart=/home/fably/fably/startup/start_fably.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
